*{
    padding:0;
    margin:0;
}

header{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:#0c0d0e;
    color:#F39C12;

}

.logo-cobra{
    width: 80px;
    height: 60px;
    margin-right: 8px;
   
}

.Titulo{
    font-family: 'Times New Roman', Times, serif;
}

.jogo{
    height: 95vh;
    width:95;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url("/img/back_game.jpg");
}

footer{
    background-color: rgba(0, 0, 0, 0.932);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around

}
footer .logo-cobra{
    padding-left: 20px;
    padding-top: 3px;
}

footer h3{
    color:#aaa;
    
}

footer h3:hover{
    color:#fff
}
footer nav a{
    text-decoration: none;
    padding-right: 10px;
    color:#aaa;
}

footer nav a:hover{
    color:#fff;
}

canvas{
    border-radius: 15px;
}